---
layout: page
title: "文章"
description: "随便写点吧"
header-img: "img/t.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>“读书破万卷，下笔如有神”<br>
    快去写文章吧</p></blockquote>

    <p>这里是大家写的文章，快来看看吧</p>


    <p></p>
        
<h3 id="toc_0">个人网站</h3>

<ul>
<li><a href="https://why1016.github.io/2023/07/31/%E7%A5%9DHarry-Potter%E7%94%9F%E6%97%A5%E5%BF%AB%E4%B9%90/">祝Harry Potter生日快乐</a></li>
</ul>

<h3 id="toc_1">简书</h3><li><a href="https://www.jianshu.com/u/7667dea109f4">个人主页</a></li>

<ul>
    <li><a href="https://www.jianshu.com/p/fe6a2eaca39f">“亲测可用——一键阻止Windows10/11系统自动更新</a></li>
    <li><a href="https://www.jianshu.com/p/9041797ea4f9">“山寨版”windows11-硬件要求极低</a></li>
    <li><a href="https://www.jianshu.com/p/028dbab566bd">老牌网站访问-windows 10/11 轻松找回IE浏览器</a></li>
    <li><a href="https://www.jianshu.com/p/7cbfc8b30381">windows一键去除快捷方式小箭头</a></li>
    <li><a href="https://www.jianshu.com/p/624626fb72d0">windows10/11找回经典的windows游戏：扫雷，蜘蛛纸牌，空当接龙……</a></li>
    <li><a href="https://www.jianshu.com/p/2c3c63ecb15a">Windows 11 22H2 版本的那些更新</a></li>
    <li><a href="https://www.jianshu.com/p/092a32f0dc2c">什么是windows 11 S 模式？</a></li>
    <li><a href="https://www.jianshu.com/p/35cc4fb1913f">150/240W快充-15/9分钟充满4500mAh电池？</a></li>
    <li><a href="https://www.jianshu.com/p/90dd03ad068f">如何检查Microsoft Defender更新？及如何手动更新？</a></li>
    <li><a href="https://www.jianshu.com/p/66b64ff6f117">什么是Microsoft Defender？以及为什么它要不断更新？</a></li>
    <li><a href="https://www.jianshu.com/p/d3df4b84c5f9">微软Internet Explorer浏览器即将停止服务？</a></li>
    <li><a href="https://www.jianshu.com/p/15f7d137d933">微软宣布：Windows 8.1将于2023年停止服务</a></li>
    <li><a href="https://www.jianshu.com/p/8251b34d3053">不升级windows11的n个理由</a></li>
    <li><a href="https://www.jianshu.com/p/dce80a70f58b">如何索引 Windows 11 以获得更快的搜索结果</a></li>
    <li><a href="https://www.jianshu.com/p/819f85481e3c">亲测有效！通过ISO修改，轻松绕过TPM2.0装windows11</a></li>
    <li><a href="https://www.jianshu.com/p/f52b6735d1a8">Windows 11 Build 22526 微软2022 年首个 Windows 11 系统更新</a></li>
    <li><a href="https://www.jianshu.com/p/c82adec30b91">亲测有效！绕过windows11tpm2.0检测不是梦！</a></li>
    <li><a href="https://www.jianshu.com/p/4ff7ed46d8c5">亲测有效！VMware15安装方法（附链接）</a></li>
    <li><a href="https://www.jianshu.com/p/80109a2e6898">windows11体验：果里果气</a></li>
    <li><a href="https://www.jianshu.com/p/07fef9b55122">震惊！！！windows11开机提示音又回来了！！！</a></li>
    <li><a href="https://www.jianshu.com/p/ffc168c8fa88">Microsoft Windows及MS-DOS系统发展史</a></li>
    <li><a href="https://www.jianshu.com/p/030f15b981b1">微软发布windows11正式版-附官方链接</a></li>
    <li><a href="https://www.jianshu.com/p/7b6d13fd61e4">微软面向教育机构推出 Windows 11 SE 版本！</a></li>
    <li><a href="https://www.jianshu.com/p/f6023f2cbc3b">微软发布windows11虚拟机版（附官方虚拟机镜像安装渠道）</a></li>
    <li><a href="https://www.jianshu.com/p/12c6f1c444e4">暗网教程—洋葱（TOR）浏览器</a></li>
    <li><a href="https://www.jianshu.com/p/baa5cb5d866b">github Desktop下载+汉化过程</a></li>
</ul>

<h3 id="toc_2">哔哩哔哩</h3><li><a href="https://space.bilibili.com/1090404099?spm_id_from=333.999.0.0">个人主页</a></li>

<ul>
<li><a href="https://www.bilibili.com/video/BV1tB4y1W7qX/?spm_id_from=333.999.0.0&vd_source=75711e29287ec67d70f45a5ae6b9b275">给windows10加上动态桌面，完美！</a></li>
<li><a href="https://www.bilibili.com/video/BV1wB4y1x73j/?spm_id_from=333.999.0.0&vd_source=75711e29287ec67d70f45a5ae6b9b275">“偷天换日”轻松绕过TPM2.0安装windows11</a></li>
<li><a href="https://www.bilibili.com/video/BV1NG411n7Mp/?spm_id_from=333.999.0.0">windows10 22H2初体验</a></li>
<li><a href="https://www.bilibili.com/video/BV1Gy4y1f7JK/?spm_id_from=333.999.0.0&vd_source=75711e29287ec67d70f45a5ae6b9b275">【建议收藏】up亲测-6款日常实用台式机配置推荐（¥560~¥1060）</a></li>
<li><a href="https://www.bilibili.com/video/BV1mG4y1E74o/?spm_id_from=333.999.0.0&vd_source=75711e29287ec67d70f45a5ae6b9b275">【全网首发】- windows10（wsa）安卓子系统</a></li>
<li><a href="https://www.bilibili.com/video/BV1CR4y1o7ay/?spm_id_from=333.999.0.0">第一片国产显卡？全球第一片PcIe5.0？——摩尔线程-MTTS80</a></li>
<li><a href="https://www.bilibili.com/video/BV19G411W737/?spm_id_from=333.999.0.0&vd_source=75711e29287ec67d70f45a5ae6b9b275">安装windows98</a></li>
<li><a href="https://www.bilibili.com/video/BV1z94y1X7Fp/?spm_id_from=333.999.0.0&vd_source=75711e29287ec67d70f45a5ae6b9b275">windows98上运行office97和IE浏览器？</a></li>
</ul>


<small> <font color="a0a9a9">
<b>特别说明：</b>
<li>因为我现在变懒了，所以很少写文章，敬请理解。</li>
<li>现在准备使用AI来协助完成我的文章</li>
</font>
<small>
        
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

