---
title: 系统
layout: default
description: 分享微软原版操作系统
header-img: "img/s.jpg"
---
//html
    <div class="box2">
<h3 id="toc_1">微软官方原版</h3>
<h5 id="toc_1">windows11</h5>
<li><a href="https://www.microsoft.com/zh-cn/software-download/windows11">down windows11</a></li>
<h2 id="toc_1">windows10</h2>
<li><a href="https://www.microsoft.com/zh-cn/software-download/windows10?ranMID=36509&ranEAID=xEB1OaJkoZk&ranSiteID=xEB1OaJkoZk-55otPKDOut3J37t_mwp8Uw&epi=xEB1OaJkoZk-55otPKDOut3J37t_mwp8Uw&irgwc=1&OCID=AIDcmm549zy227_aff_7814_1243925&tduid=%28ir__e36pnd6kl9kfdkndmiw3rikqdv2xercil9l6gkk100%29%287814%29%281243925%29%28xEB1OaJkoZk-55otPKDOut3J37t_mwp8Uw%29%28%29&irclickid=_e36pnd6kl9kfdkndmiw3rikqdv2xercil9l6gkk100">down windows10</a></li>

<h3 id="toc_1">其他原版</h3>

<h5 id="toc_1">windows11</h5>
<li><a href="https://www.jianshu.com/p/a07ecff4f0a8">windows11 21H2（2022.06）</a></li>
<li><a href="https://www.jianshu.com/p/64fcde295f9b">windows11 21H2（2022.04）</a></li>
<li><a href="https://www.jianshu.com/p/64fcde295f9b">windows11 22H2（果核版）</a></li>

<h5 id="toc_1">windows10</h5>
<li><a href="https://www.jianshu.com/p/d692b5ddd0c7">windows10 21H2（2021.12）</a></li>
<li><a href="https://www.jianshu.com/p/443118eb17d5">windows10 21H2（2021.11）</a></li>
<li><a href="https://www.ghxi.com/gfybwin1021h2.html">windows10 22H2（果核版）</a></li>
<li><a href="https://www.ghxi.com/win10ltsc21h2.html">windows10 LTSC 2021（果核版）</a></li>

<h5 id="toc_1">windows7</h5>
<li><a href="https://www.ghxi.com/nsqkwin7bd.html">windows7 sp1（果核版）</a></li>

<h3 id="toc_1">WinPE</h3>
<li><a href="https://www.wepe.com.cn/">微PE</a></li>
<li><a href="https://firpe.cn/page-247">FirPE</a></li>
<li><a href="https://www.ghxi.com/slpe.html">SLPE</a></li>
<li><a href="https://www.ghxi.com/cowpe.html">cowPE</a></li>
<li><a href="https://www.ghxi.com/easyu.html">EasyU（U启通）VIP版</a></li>

 </div>

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
			<div id='tag_cloud' class="tags">
				{% for tag in site.tags %}
				<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
				{% endfor %}
			</div>

            <!--<blockquote class="tag-comments">
                标签命名规范：
                    <li>行业观察、职位、公司优先使用中文</li>
                    <li>外国产品、术语优先使用英文</li>
            </blockquote>-->

            <!-- 标签列表 -->
			{% for tag in site.tags %}
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">{{ tag[0] }}</span>
                </span>
				{% for post in tag[1] %}
				  <!-- <li class="listing-item">
				  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
				  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				  </li> -->
				 <div class="post-preview">
				    <a href="{{ post.url | prepend: site.baseurl }}">
				        <h2 class="post-title">
                            {{ post.title }}
				        </h2>
				        {% if post.subtitle %}
				        <h3 class="post-subtitle">
				            {{ post.subtitle }}
				        </h3>
				        {% endif %}
				    </a>
				    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
				</div>
				<hr>
				{% endfor %}
			</div>
			{% endfor %}

		</div>
	</div>
</div>
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

